<section class="login-block">
  <div class="container">
    <div class="row">
      <div class="col-md-4 login-sec">
        <h2 class="text-center">Login Now</h2>
        <h3>{{errorMessage}}</h3>
        <form class="login-form" [formGroup]="loginForm">
          <div class="form-group">
            <label for="exampleInputEmail1" class="text-uppercase">Username</label>
            <input type="text" class="form-control" placeholder="" formControlName="email">

          </div>
          <div class="form-group">
            <label for="exampleInputPassword1" class="text-uppercase">Password</label>
            <input type="password" class="form-control" placeholder="" formControlName="password" >
          </div>


          <div class="form-check">
            <button type="submit" class="btn btn-login float-right" (click)="login()">Submit</button>
          </div>

        </form>
        <div class="copy-text pointer">Don't have account <i class="fa fa-heart"></i> <a (click)="navigate()">Signup</a></div>

      </div>
      <div class="col-md-8 banner-sec">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="d-block img-fluid" src="https://static.pexels.com/photos/33972/pexels-photo.jpg" alt="First slide">
              <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                  <h2>Lets Rock With Music</h2>
                  <p>Just login with your account and enjoy your favourite music!</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>