.banner-img {background: url(https://images.pexels.com/photos/395198/pexels-photo-395198.jpeg?auto=compress&cs=tinysrgb&h=650&w=940)  center top;}
@font-face { font-family: Myriad; src: url('http://freeshared.org/fonts/Myriad.OTF'); }
body
{
	font-family: Myriad; 
}
.aligned { 
	text-align: center; 
	padding-bottom:28%; 
}
.aligned_input { 
	text-align: center; 
	padding-bottom:-10%; 
}
.aligned_text { 
	text-align: center; 
	font-size: 88%;
}
.no:hover {
	background:none;
} .no:active {
	background: none;
}
#seconds {
	font-size:10px;
}
.btn-custom {
	background-color: black;
	color:white;
	transition-property: background, opacity;
	transition-duration: 0.5s;
} .btn-custom:hover, .btn-custom:active, .btn-custom:focus {
	cursor: pointer;
	opacity:0.5;
	color:white;
	background-color:white;
} 

.bottom{
	bottom: 5px;
	position: absolute;
	background-color: lightgray
}

.heading{
	background-color: teal;
	text-align: center;
	color:white;
	height:60px;
	padding:10px;
}