<section>
  <h1 class="heading">Play your Favourite music</h1>
  <div class="container">
    <div class="row  text-center">
      <div class="col-md-2" *ngFor="let list of playlist">
        <div class="card" (click)="playSound(list.link)">
          <button type="button" class="btn btn-outline-secondary">{{list.name}}</button>

        </div>
      </div>
      
      
     
     
     
    </div>
  </div>
</section>
<div class="pt-5"></div>

<div class="pt-5"></div>


<div class="col-md-12 bottom">
  <audio id="audio" preload="auto"></audio>
  <div class="btn-group">
    <button onclick="Play();" class="btn btn-custom"><span title="Play" id="play" class="glyphicon glyphicon-play aligned"></span></button>
    <button onclick="Stop();" class="btn btn-custom"><span title="Stop" id="stop" class="glyphicon glyphicon-stop aligned"></span></button>
    <button onclick="Backward1();" class="btn btn-custom"><span title="-1 second" id="play" class="glyphicon glyphicon-chevron-left aligned"></span></button>
    <button onclick="Forward1();" class="btn btn-custom"><span title="+1 second" id="play" class="glyphicon glyphicon-chevron-right aligned"></span></button>
    <button onclick="VolumeUp();" class="btn btn-custom"><span title="Volume Up" id="volumeup" class="glyphicon glyphicon-plus aligned"></span></button>
    <button onclick="VolumeDown();" class="btn btn-custom"><span title="Volume Down" id="volumedown"
        class="glyphicon glyphicon-minus aligned"></span></button>
  </div>
</div>